.DS_Store
node_modules
.turbo
*.log
.next

build
dist
dist-ssr

*.local
.env
.cache
server/dist
public/dist
.turbo
storybook-static/

apps/app-vite-js
apps/app-vite-ts

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions